<footer style="background-color:#5976BF">
  <div class="container py-5" >
    <div class="row">
      <div class="col">
        <ul>
          <li><b>Ваш аккаунт</b></li>
          <li>
            <a href="#">Вход</a>
          </li>
          <li>
            <a href="#">Регистрация</a>
          </li>

        </ul>
      </div>
      <div class="col">
        <ul>
          <li><b>Категории</b></li>
          <li>
            <a href="#">Спорт</a>
          </li>
          <li>
            <a href="#">Программирование</a>
          </li>
          <li>
            <a href="#">Дизайн</a>
          </li>
          <li>
            <a href="#">Игры</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><b>Дополнительная информация</b></li>
          <li>
            <a href="#">Правила</a>
          </li>
          <li>
            <a href="#"> Связаться с нами </a>
          </li>
          <li>
            <a href="#"> О нас</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</footer>